.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container > canvas {
    width: 100%;
}

@media screen and (min-width: 750px) {
    .container > canvas {
        width: 750px;
    }
}